@media (min-width: 700px) AND (orientation: landscape) {
    a{ color: red}
}
@supports NOT ((text-align-last:justify) OR (-moz-text-align-last:justify) ){
    p {
        text-align:justify;
    }
}
@media only all and (max-width:50em), only all and (max-device-width:800px), only all and (max-width:780px) {
    some-css : here
}
@media screen AND (-webkit-min-device-pixel-ratio:0) {
    some-css : here
}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    a{width:100px}
}
@media screen and/*!YUI-Compresser */(-webkit-min-device-pixel-ratio:0) {
    a{
        b: 1;
    }
}


@media screen and/*! */ /*! */(-webkit-min-device-pixel-ratio:0) {
    a{
        b: 1;
    }
}


@media -webkit-min-device-pixel-ratio:0 {
    a{
        b: 1;
    }
}
@media
(-o-min-device-pixel-ratio:10/4),
(-o-max-device-pixel-ratio:  5/4),
(-o-device-pixel-ratio:  1/1),
(-o-device-pixel-ratio:  1/10),
(-o-device-pixel-ratio:  1.25),
(device-pixel-ratio:1.5)  {
    /* some:prop; */
    /* An empty property with a fraction in query would break previously */
}

.something {
    foo: bar;
}
@keyframes anim {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes anim{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes test {
    0% , 100% { opacity: 0; }
}
@keyframes test2 {
    0%, 100% { opacity: 0; }
}
@keyframes test3 {
    50% { opacity: 50 }
    100%, 0% { opacity: 0; }
}
@-webkit-keyframes test4{
    0% { transform: rotate3d(0,0,1,30deg); }
    100% { transform: rotate3d(0,0,1,10deg); }
}