* {
	color: hsl(0, 100%, 50%); /* red */
	color: hsl(120, 100%, 50.5%); /* #03FF03 */
	color:hsl(240,13.4%,12.6%); /* #1C1C24 */
	color:  hsl(-120, 33%, 92%); /* #E4E4F1 */
	color:hsl(480, -56%, 13%); /* #212121 */
}