a{
    margin: 1px 2px 1px 2px;
    padding: 23rem 1.2em 23rem 1.2em;
}
b{
    margin: 2px 3px 2pc 3px;
    padding: calc(1px + 2px) 3.44em calc(1px + 2px) 3.44em; /* calc() will not match our regex so optimization won't be applied here */
}
c{
    margin: 1px 2px 3px 2px;
}